
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/var/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###>custom settings###
/node_modules
/.env
/.env.test
/.env.*
/.phpunit.result.cache
/npm-debug.log
/yarn-error.log
/.idea
###<custom settings###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
