.main-header .logo{
    color: #3a3a3a;
}
.markdown-preview {
    margin-top: 10px;
    border: 2px dashed #da3735;
    padding: 5px;
}

.markdown-preview::before {
    content: "Preview: ";
}
:root {
    --body-max-width: 1441px;
}

.badge-success {
    background-color: #00a2a5;
}

:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* make the base font size smaller */
    --font-size-base: 13px;
    /* remove all border radius to make corners straight */
    --border-radius: 0px;
}