{% extends '@!EasyAdmin/default/list.html.twig' %}

{% block item_actions %}
    {{ parent() }}
{% endblock %}

{% block global_actions %}
    {{ parent() }}
    {% if _entity_config.list.enable_export is defined and _entity_config.list.enable_export == true %}
        <div class="button-action">
            <a class="btn btn-primary" href="{{ path('easyadmin', _request_parameters|merge({action: 'export'})) }}">
                <i class="fa fa-download"></i>
                Export
            </a>
        </div>
    {% endif %}
{% endblock %}